
* { 
  box-sizing:border-box;
  transition: all 200ms;
}
body {
  margin:0;
  font-family: 'Inter', sans-serif;
  font-size:14px;
  padding:30px 0;
  color: rgba(0,0,0,0.8);
}
h1, h2, h3 {
  font-weight:400;
  margin:0;
  font-size:24px;
  letter-spacing: -1px;
}
h2 {
  margin-bottom:20px;
  line-height:130%;
  font-size:40px;
}
h3 {
  letter-spacing: -0.5px;
  line-height:130%;
}
.list h3 {
  margin-top:12px;
  margin-bottom:-4px;
}
.list h3:nth-child(n+2) {
  margin-top:30px;
}
p {
  line-height:160%;
  margin: 16px 0;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0,0,0,0.6);
}
a:hover {
  opacity:0.7;
}
a.current {
  color: rgba(0,0,0,0.3);
}
.small {
  opacity:0.6;
  letter-spacing: 2px;
  font-size: 10px;
  margin-bottom:10px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hide {
  display: none;
}
.center {
  text-align: center;
}
.button {
  background:rgba(0,0,0,0.05);
  padding:10px 18px;
  border-radius:10px;
}
.gradientText {
  background: -webkit-linear-gradient(0deg, #00b1ff 0%, #d600ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.loader {
  width:60px;
  height:60px;
  border-top:1px solid rgba(0,0,0,0.3);
  border-right:2px solid rgba(0,0,0,0.3);
  border-radius:100%;
  position: absolute;
  left:calc(50% - 30px);
  top:calc(50% - 30px);
  animation-name: spin;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  0% { transform:rotate(0) }
  100% { transform:rotate(360deg) }
}
.wrap {
  width:100%;
  max-width:1500px;
  margin:0 auto;
  padding:30px;
  position: relative;
  transition: opacity 1s;
}
.menu a {
  padding:6px;
  margin-right:14px;
}
.thumbs {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  margin:60px 0;
}
.thumbs.minimize {
  margin: 60px 0 60px
}
.thumbs.minimize .thumb:nth-child(n+7) {
  display: none;
}
.thumb {
  cursor: pointer;
  opacity:1;
  position: relative;
  overflow: hidden;
}
.thumb .image {
  background:#ececec;
  background-position: 50% 50%;
  background-size: 100% auto;
  background-repeat: no-repeat;
  z-index:1;
  position: relative;
  border-radius: 8px;
  transition: all .5s;
}
.thumb:hover {
  opacity:1;
}
.thumb:hover .image {
  background-size: 110% auto;
}
.thumb img {
  width:100%;
}
.thumb .info {
  position: absolute;
  z-index: 2;
  width:92%;
  height:110%;
  left:4%;
  top:-5%;
  color:white;
  opacity:0;
  transition: all .5s;
  font-size:12px;
}
.thumb:hover .info {
  opacity:1;
  height:92%;
  top:4%;
}
.thumb .info.positive, .thumb .info.positive a {
  color:rgba(0,0,0,0.8);
}
.thumb .info a {
  position: absolute;
  right:0;
  top:0;
  color:white;
}
.thumb .info p {
  position: absolute;
  bottom:0;
  font-size:12px;
  margin:0;
  opacity:0.9;
}
.arrow {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 7px;
  height: 7px;
  display: inline-block;
  transform: rotate(45deg);
  position: relative;
  top: -3px;
  left: 3px;
  opacity:0.6;
}
.show-project, .show-page { 
  overflow: hidden;
}
.page {
  position: fixed;
  height: 100%;
  top:100%;
  left:0;
  width:100%;
  transition: top .5s cubic-bezier(1,0,0,1);
  z-index: 5;
  overflow: scroll;
  background: white;
  border-top:1px solid rgba(0,0,0,0.1);
  padding-top:40px;
}
.page.show {
  top:160px;
  height: calc(100% - 160px);
}
.project-window {
  height:100%;
  background: black;
  padding:20px;
}
.project-window.show {
  top:0;
  height:100%;
}
.project-window > * {
  max-width:1100px;
  width: 100%;
  margin:0 auto 20px;
  display: block;
  border-radius:8px;
  transition: opacity 1s;
}
.project-window > img:first-of-type {
  animation-name: enter;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay:500ms;
}
.project-window .project-info {
  display: grid;
  grid-template-columns: 60% 30%;
  grid-column-gap: 10%;
  margin-bottom:30px;
} 
.project-window .project-info * {
  margin:20px 0;
  animation-fill-mode: both;
  animation-name: enter;
  animation-duration: .6s;
  animation-fill-mode: both;
}
@keyframes enter {
  0% { transform:translateY(50px); opacity:0 }
  100% { transform:translateY(0); }
}
.project-window .project-info *:nth-child(1) { animation-delay: 500ms; }
.project-window .project-info *:nth-child(2) { animation-delay: 700ms; }
.project-window .project-info *:nth-child(3) { animation-delay: 900ms; }
.project-window .project-info *:nth-child(4) { animation-delay: 1100ms; }
.project-window .project-info *:nth-child(5) { animation-delay: 1300ms; }
.project-window .project-info *:nth-child(6) { animation-delay: 1500ms; }
.project-window .project-info *:nth-child(7) { animation-delay: 1700ms; }
.project-window .project-info h2 {
  margin-top:0;
}
.project-window .project-info .attribute {
  font-size:10px;
  margin:0;
  margin-bottom:4px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity:0.5;
}
.project-window .project-info h3 {
  margin:0 0 20px
}
.project-window .project-info .achievement  {
  font-size:12px;
  background-image:url('img/trophy.png');
  background-repeat: no-repeat;
  background-size:  12px;
  background-position: 8px 7px;
  border-radius:4px;
  padding-left: 20px;
  border-radius: 2px;
  color: white;
  width: fit-content;
  padding: 6px 10px 6px 25px;
}
.project-window a {
  opacity:1;
}
.project-window a:hover {
  text-decoration: underline;
}
.project-window .loader-container {
  height:150px;
  position: relative;
  animation-name:enter;
  animation-delay: 1s;
  animation-duration: 500ms;
  animation-fill-mode: both;
}
.project-window .project-description {
  padding:50px 20px;
  max-width:800px;
}
.project-window > *:nth-child(n+3) {
  opacity:0;
}
.project-window > .loaded {
  opacity:1;
}
.project-window .video-container {
  position: relative;
}
.project-window video {
  pointer-events: none;
  width:100%;
  border-radius:8px;
}
.project-window .video-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
.next-project {
  padding: 30px;
  cursor: pointer;
  margin: 20px auto;
  width: -webkit-fill-available;
  background: rgba(255,255,255,0.1);
  background:white;
}
.mini-thumb {
  width:100px;
  height:100px;
  background-size: 150% auto;
  background-position: 50% 50%;
  margin: 0 auto 20px
}
.next-project:hover .mini-thumb {
  background-size: 160% auto;
}
.close {
  position: fixed;
  top: 20px;
  right: -50px;
  background: rgba(120,120,120,0.5);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 0;
  border-radius: 100%;
  color: white;
  font-size: 20px;
  z-index: 5;
  cursor: pointer;
}
.close:hover {
  transform:scale(1.06);
  background: rgba(120,120,120,0.6);
}
.show-project .close {
  right:20px;
}
.line {
  border-bottom:1px solid black;
  margin: 60px 0;
  opacity:0.1;
}
.section {
  align-items: flex-start;
  padding:20px 0;
}
.section div {
  width:70%;
}
.section div p {
  margin-top:0
}
.process {
  border-left:1px solid rgba(0,0,0,0.1);
  padding-left:16px;
}
.process .step {
  margin: 40px 0;
  position: relative;
  top:-7px;
  padding-left: 2px;
}
.process .step:before {
  content: " ";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: black;
  position: absolute;
  left: -19px;
  top: 8px;
  z-index: 3;
}
.process .step:nth-child(1) {
  margin-top:24px;
}
.process .step:nth-child(1):before, .process .step:nth-child(4):before {
  width: 11px;
  height: 11px;
  left: -22px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: rgba(0,0,0,0.6);
}
.process .step:first-of-type:after { 
  height: 10px;
  background: hsl(60 25% 96% / 1);
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  left: -20px;
  top: 7px;
  z-index: 0;
}
.process .step:last-of-type:after { 
  height: 100%;
  background: hsl(60 25% 96% / 1);
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  left: -20px;
  top: 7px;
  z-index: 0;
}
.learn-more {
  margin-bottom:50px;
  display: inline-block;
}
.socials.flex a {
  display: flex;
  align-items: center;
  justify-content: center;
  width:30px;
  height:30px;
  transition: all 200ms;
  opacity:0.6;
  margin-left:4px;
  border-radius:4px;
}
.socials.flex a:hover {
  background:rgba(0,0,0,0.1);
  opacity:0.8;
}
.socials.flex img {
  width:20px;
  filter:brightness(0);
}
.contact {
  background:rgba(0,0,0,0.03);
  padding:30px;
  margin-bottom:30px;
}
.about > * {
  max-width:600px;
}
.learn-more:before {
  content:'?';
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:-2px;
  margin-right:5px;
  border-radius: 100%;
  width:13px;
  height:13px;
  font-size:10px;
  border:1px solid rgba(0,0,0,0.6);
}
.availability {
  display: inline-block;
  padding-left: 13px;
  font-size:12px;
  position: relative;
  color:#00b700;
}
.availability:before {
  content: " ";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #00b700;
  position: absolute;
  left: 0;
  top: 4px;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
}
@keyframes blink {
  0% { opacity:0.3 }
  50% { opacity:1 }
  100% { opacity:0.3 }
}

@media screen and (max-width: 1200px) {
  .thumbs { grid-template-columns: repeat(2, minmax(0, 1fr)); }
}

@media screen and (max-width: 800px) {
  body { padding:20px 0 }
  .wrap { padding:16px }
  h1 { font-size:20px }
  h2 { font-size:32px }
  h3 { font-size:20px }
  .small { font-size:10px }
  .socials.flex a { margin:0; width:24px }
  .thumbs { margin:40px 0; grid-column-gap: 10px; grid-row-gap: 10px; }
  .thumbs.minimize { margin:40px 0 30px }
  .page { padding-top:40px; padding-bottom:30px }
  .page.show { top:100px; height:calc(100% - 100px) }
  .project-window.show { top:0; height:100%}
  .section.flex { display: block; padding:0 6px }
  .section.flex  > div { width:100% }
  .line { margin:40px 0 }
  .section div p { margin-top:10px }
  .close { top:10px; right:-60px }
  .show-project .close { top:10px; right:10px}
  .project-window h3 { font-size: 14px; }
  .contact { padding:20px 20px 10px }
  .mobile-hide { display:none }
  .menu a { padding:0; }
  .thumbs { grid-template-columns: repeat(1, minmax(0, 1fr)); }
  .thumb .info { display:none }
}