* {
	box-sizing: border-box;
	border-radius: 4px;
	transition: all 200ms;
}
body {
	font-family: "arponasans", sans-serif;
	font-weight:400;
	font-style: normal;
	color:#27361F;
	margin:0;
	text-align: center;
}
p {
	font-size:20px;
	line-height:150%;
	max-width: 600px;
	margin:20px auto;
}
h1,h2,h3 {
	font-size:60px;
	font-weight:500;
	line-height:120%;
	margin:0 auto 30px;
}
h1 div {
	font-size:80px;
}
h2 {
	font-size:40px;
}
h2 div {
	font-size:60px;
}
h3 {
	font-size: 50px;
	margin:0 auto;
}
a {
	color:#819A23;
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	filter:brightness(1.1);
}
.small {
	font-size:14px;
	opacity:0.7;
}
page {
	display: none;
}
page.show {
	display: block;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	margin:0 auto;
}
.section {
	padding:100px;
}
.section.gradient {
	background-image: linear-gradient(180deg, #F7F3EC 0%, #FFFFFF 100%);
}
.section.gradient-invert {
	background-image: linear-gradient(180deg, #FFFFFF 0%, #F7F3EC 100%);
}
.section.negative {
	background:#261F13;
	color:#F7F3EC;
}
.section.flex > div {
	width:50%;
	max-width:800px;
}
.content {
	padding:50px;
}
.button {
	width:340px;
	height:70px;
	line-height:70px;
	background:#819A23;
	font-size:20px;
	font-weight:500;
	color:white;
	letter-spacing: 1px;
	cursor: pointer;
	margin:30px auto;
	display: block;
}
.button:hover {
	filter:brightness(1.05);
}
.button:active {
	filter:brightness(0.95);
}
.button.mini {
	height:40px;
	width:140px;
	font-size:14px;
	line-height:40px;
	margin:0;
	display: inline-block;
	letter-spacing: 0;
	margin-right:10px;
}
input {
	width:340px;
	height:50px;
	border:1px solid rgba(0,0,0,0.2);
	font-family: 'arponasans';
	font-size:16px;
	padding-left:10px;
}
.icon {
	position: relative;
	margin-right:4px;
	top:3px;
}
.header {
	background:rgba(255,255,255,0.5);
	backdrop-filter: blur(5px);
	z-index:1;
	width:100%;
	left:0;
	top:0;
	height:60px;
	justify-content: space-between;
	padding:0 10px;
	position: fixed;
}
.header a {
	font-size:14px;
	color:#27361F;
	font-weight:500;
	opacity:0.5;
	padding:10px;
}
.header a:hover {
	opacity:0.8;
}
.header a.current {
	opacity:0.8;
}
.header a.header-badge {
	position: relative;
	top: -20px;
  opacity:1;
}
.header-badge img {
	position: absolute;
	width:100px;
}
.header-badge img:nth-child(2) {
/*	-webkit-animation-play-state:paused;
	-moz-animation-play-state:paused;
	-o-animation-play-state:paused;
	animation-play-state:paused;*/
	animation-duration:20s;
	animation-iteration-count: infinite;
	animation-name:rotate;
	animation-timing-function: linear;
}
@keyframes rotate {
	0% { transform:rotate(0deg); }
	100% { transform:rotate(360deg); }
}
.header .nav {
	position: absolute;
	left:0;
	right:0;
	margin:auto;
}
.icon-instagram {
	width:20px;
	position: relative;
	top: 2px;
  left: -3px;
  margin-bottom: -3px;
}

/********** HOME **********/
.logo {
	width:130px;
	margin-bottom:30px;
}
.stars {
	font-size:10px;
	color:#CA5D00;
	margin-right:3px;
	position: relative;
	top:-1px;
}
.press {
	justify-content: space-between;
	max-width:500px;
	margin-top:40px;
}
.press img {
	height:50px;
	opacity:0.3;
}
.press img:hover {
	opacity:0.4;
}
.hero-image {
	background-image:url('img/photo-hero.jpg');
	width:100%;
	height:70vh;
	background-size: cover;
	background-position: 50% 50%;
}
.section.testimonials {
	text-align: left;
	width:100vw;
	overflow:hidden;
	margin:0;
	padding:0;
}
.testimonials > .flex {
	width: fit-content;
	justify-content: flex-start;
	animation-name: testimonials-slide;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes testimonials-slide {
	0% { transform:translateX(0) }
	100% { transform:translateX(-50%) }
}
.testimonials > .flex:hover{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}
.testimonial {
	margin:20px;
}
.testimonial .image {
	width:200px;
	height:260px;
	background-size: cover;
	background-position: 50% 50%;
}
.testimonial .content {
	width:400px;
	padding:30px;
}
.video-container {
	position: relative;
	width:50%;
	height:70vh;
}
.video-container video {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	left:0;
}
.highlights {
	margin-top:70px;
	justify-content: space-between;
	max-width:500px;
}
.highlights > div {
	max-width:200px;
}
.highlights img {
	width:60px;
}
.tabs {
	justify-content: space-between;
	width:340px;
	margin-bottom:30px;
}
.tab {
	width:165px;
	height:40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:14px;
	font-weight:600;
	background:rgba(39,54,31,5%);
	opacity:0.6;
	cursor: pointer;
}
.tab:hover {
	opacity:0.7;
}
.tab[active=yes] {
	color:#819A23;
	background: rgba(129,154,35,0.10);
	border: 2px solid #819A23;
	opacity:1;
}
.saving {
	overflow-x: hidden;
	height:0;
	font-size:12px;
	font-weight:600;
	color:#819A23;
	opacity:0;
}
.saving.show {
	height:20px;
	line-height:20px;
	opacity:1;
}

.price h3 {
	display: inline;
}
.price span:nth-child(2) {
	position: relative;
	top:-22px;
}
.price span:nth-child(3) {
	position: relative;
	left:-21px;
	top:-1px;
	font-size:12px;
}
.button.withPrice {
	display: flex;
}
.button .cta {
	width:60%;
}
.button .sum {
	height:70px;
	border-left:1px solid rgba(0,0,0,0.1);
	width:40%;
	font-weight:400;
}
.disclaimer {
	margin-top:-10px;
}
.payflow-image {
	background-image:url('img/photo-boxes.jpg');
	width:100%;
	height:70vh;
	background-size: cover;
	background-position: 50% 50%;
}
.artisans {
	margin:50px auto;
	display: grid;
	grid-template-columns: auto auto auto;
	max-width:1400px;
}
.artisan {
	background:#F7F3EC;
	margin:20px;
	max-width:400px;
	position: relative;
}
.home .artisan:hover {
	filter:brightness(0.95);
	cursor: pointer;
}
.home .artisan:hover .photo {
	transform:scale(1.03);
	border-radius: 4px;
}
.artisan .photo {
	background-size: cover;
	background-position: 50% 50%;
	width:100%;
	height:260px;
	border-radius: 4px 4px 0 0;
}
.artisan .info {
	padding:0 20px;
}
.artisan .stamp {
	width:100px;
	position: absolute;
	width: 70px;
  position: absolute;
  right: -16px;
  margin-top: -6px;
}
.home .artisan:hover .stamp {
	transform: scale(1.1);
}
.artisan .location {
	color:#CA5D00;
	font-size:14px;
	margin:-10px auto;
	font-weight:600;
	padding-left:18px;
	display: inline-block;
	background:url('img/icon-location.svg');
	background-repeat: no-repeat;
	background-position: 0 2px;
}
.text-slider {
	position: relative;
	height:40px;
	color:#CA5D00;
	margin-bottom:30px;
}
.text-slider p {
	position: absolute;
	display: inline-block;
	left:0;
	right:0;
	opacity: 0;
	margin:0 auto;
	animation:text-slider;
	animation-duration: 12s;
	animation-iteration-count: infinite;
	width: fit-content;
}
@keyframes text-slider {
	0% { transform:translateY(20px); opacity:0 }
	5% { transform:translateY(0px); opacity:1 }
	14% { transform:translateY(0px); opacity:1 }
	19% { transform:translateY(-20px); opacity:0 }
}
.text-slider p:before {
	content: " ";
	display: block;
	background:url('img/icon-checkmark.svg');
	background-repeat: no-repeat;
	height:10px;
	width:15px;
	background-size: auto 10px;
	position: relative;
	top: 22px;
	left: -23px;
}
.text-slider p:nth-child(2) { animation-delay: 2s; }
.text-slider p:nth-child(3) { animation-delay: 4s; }
.text-slider p:nth-child(4) { animation-delay: 6s; }
.text-slider p:nth-child(5) { animation-delay: 8s; }
.text-slider p:nth-child(6) { animation-delay: 10s; }

.box {
	height:80px;
	margin-bottom:30px;
	background-size: cover;
	background-position: 50% 50%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: all 400ms;
	color:white;
}
.box * {
	transition: all 400ms;
}
.box .overlay {
	background:#261F13;
	width:100%;
	height:100%;
	opacity:0.2;
	border-radius: 0;
}
.box:hover .overlay {
	opacity:0.3;
}
.box:active .overlay {
	opacity:0.4;
}
.box .label {
	line-height:80px;
	background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.00) 100%);
	height:100%;
	position: absolute;
	top:0;
	width:100%;
	backdrop-filter: blur(5px);
	letter-spacing: 5px;
	font-size:20px;
}
.box.open {
	height:400px;
}
.box.open .overlay {
	opacity:0;
}
.box.open .label {
	backdrop-filter: blur(0px);
	background-image: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.00) 40%);
	font-size:24px;
}
.box:last-of-type {
	margin-bottom: 0;
}
.footer {
	text-align: left;
	justify-content: space-between;
	align-items: unset;
	font-size:14px;
	background:#F7F3EC;
}
.footer-logo {
	width:100px;
}
.footer > div {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.footer a {
	color:#27361F;
	font-weight:500;
	margin:5px 0;
}
.section.footer .follow-us {
	padding: 20px 10px 10px;
  background: #ca5d00;
  color: white;
  min-width: 200px;
  width:auto;
  text-align: center;
  margin:0 auto;
}
.follow-us a {
	margin:20px 5px 5px;
	padding:10px;
	width:60px;
	height:60px;
	background:rgba(255,255,255,0.1);
	border-radius: 100%;
}
.follow-us a:hover {
	background:rgba(255,255,255,0.2);
}
.follow-us img {
	width:40px;
}
.video-popup {
	position: fixed;
	top:calc(50vh - 20vw);
	left:calc(15vw);
	background:rgb(39 54 31 / 100%);;
	box-shadow: 0 0px 200px rgb(39 54 31 / 100%);
	display:none;
	animation-name:pop;
	animation-duration: 400ms;
}
@keyframes pop {
	0% { transform:scale(0.7); opacity:0 }
	100% { transform:scale(1); opacity:1 }
}
.video-popup iframe {
	width:70vw;
	height:40vw;
	display: block;
}

/********** STORY **********/
.story p {
	max-width:800px;
}
.head .image {
	width:100%;
	height:70vh;
	max-width:1500px;
	background-size: cover;
	background-position: 50% 50%;
	margin:0 auto;
	position: relative;
	color:white;
}
.head .image .quote {
	position: absolute;
	bottom:50px;
	left:0;
	right:0;
	margin:auto;
	font-size:40px;
	max-width:1000px;
	padding:50px;
	font-weight: 500;
	font-style: italic;
}
.quote span {
	animation-name:character;
	animation-duration: 400ms;
	animation-fill-mode: both;
	position: relative;
}
@keyframes character {
	0% { top:20px; opacity:0 }
	100% { top:0; opacity:1 }
}
.head .image p.reference {
	position: absolute;
	bottom:30px;
	left:0;
	right:0;
	margin:auto;
	animation-name:fade;
	animation-duration: 2s;
	animation-fill-mode: both;
	animation-delay: 3s;
}
@keyframes fade {
	0% { opacity:0 }
	100% { opacity:1 }
}
.story .highlights {
	max-width:800px;
	align-items: baseline;
}
.story .highlights > div {
	max-width: 100%;
	padding-left:10px;
}
.story .highlights > div:first-of-type {
	padding-right:10px;
	padding-left: 0;
}
.story .journey-image {
	width:100%;
	height:70vh;
	background-size: cover;
	background-position: 50% 50%;
}

/********** FAQ **********/
.faq-image {
	width:100%;
	max-width:1000px;
	margin:0 auto;
	height:50vh;
	background-size: cover;
	background-position: 50% 50%;
}
.faq .title {
	font-size:30px;
	font-weight:500;
	margin-top:50px;
}
.faq p {
	max-width:800px;
}

/********** SMALL SCREENS **********/

@media screen and (max-width: 1500px) {
	.section { padding:50px 20px }
	.section:first-of-type { padding-top:70px }
}

@media screen and (max-width: 1200px) {
	.content { padding:30px 0 }
	.flex.break { flex-direction:column; }
	.flex.break.reverse { flex-direction:column-reverse; }
	.flex.break > div { width:100%; }
	p { font-size:18px }
	h1 { font-size: 40px }
	h1 div { font-size:60px }
	h2 { font-size:30px }
	h2 div { font-size:50px }
	h3 { font-size:30px }
	.price h3 { font-size:50px }
	.logo { width:100px }
	.press img { height:32px }
	.artisans { display:block; }
	.artisan { margin:20px auto; padding-bottom:10px }
	.head .image .quote { font-size: 22px; padding: 14px; bottom: 60px;}
	.footer > div { margin:20px 0 }
	.section.footer .follow-us { width:100%; }
}

@media screen and (max-width: 900px) {
	.mobile-hide { display:none!important }
	.header .nav { position: static; margin:0 }
}








